@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.fr-toolbar .fr-dropdown .fr-command.fr-active {
  all: unset;
}

.fr-view h1 {
  @apply text-3xl font-bold text-black; /* Apply Tailwind styles */
}

.fr-view h2 {
  @apply text-2xl font-semibold text-black;
}

.fr-view h3 {
  @apply text-xl font-semibold text-black;
}

.fr-second-toolbar a {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
